
###########
##  dub  ##
###########
.dub
docs.json
__dummy.html
*.o
*.obj


#############
##  build  ##
#############
**.exe
**.buildpath
**.lib
**.log
**.dll


###############
##  eclipse  ##
###############
**.project
**.settings
